.createAcc {
  text-align: center;
  margin-top: 15%;
}

.createAcc_title {

}

.createAcc_form {
  
}

.createAcc_instagram {
  margin-bottom: 20px;
}

.createAcc_instagram img {
  width: 20%;
  border-radius: 50%;
  height: auto;
}

.createAcc_instagram .name {

}