.dashboard {
 
}

.dashboard .dashboard_title h2 {

}

.dashboard .dashboard_values {
  
}

.dashboard a.nav-link:hover {
  cursor: pointer;
  color: #fff;
}
.dashboard a.nav-link.active:hover {
  color: #fff;
}
.dashboard .box-payment_title .nav-item {
  background-color: #f5f5f5;
}
.dashboard .custom-control label:hover {
  cursor: pointer;
}