.dashboard {
 
}

.dashboard .dashboard_title h2 {

}

.dashboard .dashboard_values {
  
}
.dashboard .dashboard_values .list-inline-item button {
  font-size: 1.5em;
}
.dashboard .dashboard_values .dashboard_values_custom input {
  font-size: 1.8em;
}
.dashboard .dashboard_values .dashboard_values_custom .input-group-prepend span {
  font-size: 1.2em;
}
.dashboard .dashboard_values .options-choice {
  margin: 25px 0px;
}
.dashboard .dashboard_values .options-choice .list-inline-item {
  font-size: 1.2em;
  -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.dashboard .dashboard_values .options-choice .list-inline-item > .active {
  font-weight: 600;
}
.dashboard .dashboard_values .options-choice .list-inline-item label {

}

.dashboard a.nav-link:hover {
  cursor: pointer;
  color: #fff;
}
.dashboard a.nav-link.active:hover {
  color: #fff;
}
.dashboard .box-payment_title .nav-item {
  background-color: #f5f5f5;
  font-size: 1.5em;
}
.dashboard .custom-control label:hover {
  cursor: pointer;
}

.dashboard .btn-donation {
  font-size: 2.0em;
}
.dashboard .btn-donation span {
  font-weight: 900;
  padding-left: 10px;
}