html, body {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

textarea:focus, textarea.form-control:focus, 
input.form-control:focus, input[type=text]:focus, 
input[type=password]:focus, input[type=email]:focus, 
input[type=number]:focus, [type=text].form-control:focus, 
[type=password].form-control:focus, [type=email].form-control:focus, 
[type=tel].form-control:focus, [contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 var(--primary);
  box-shadow: inset 0 -2px 0 var(--primary);
}

.loading {
	text-align: center;
	margin-top: 15%;
}

.loading .spinner > div {
	margin: 0 auto;
}

.navbar {
	margin-bottom: 20px;
	background-color: var(--primary);
}

.navbar .nav-item a:hover {
	cursor: pointer;
 }

 .navbar .profile {
	 height: 45px;
 }

.navbar .profile a {
	text-align: center;
}
.navbar .profile .photo {
	padding: 0px;
	margin-bottom: -15px;
}
.navbar .profile .photo img {
	width: 25%;
  border-radius: 50%;
}
.navbar .profile .name {
	color: #fff;
	font-weight: 900;
}

.logo {
	margin-bottom: 30px;
}

.logo img {

}

.logo h2 {

}