.myAccount {

}

.myAccount .myAccount_title {
  
}

.myAccount .myAccount_box {

}

.myAccount .myAccount_box img {
  margin: 0 auto;
  width: 40%;
}
.myAccount .myAccount_box_edit {
  position: relative;
  width: 100%;
}

.myAccount .myAccount_box_template input {
  margin-right: 60px;
}

.myAccount .myAccount_box_edit button.edit {
  padding: 5px;
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.myAccount .myAccount_box_template button.save {
  padding: 5px;
  font-size: 12px;
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.myAccount .myAccount_box_template button.cancel {
  padding: 5px 7px;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.myAccount .myAccount_box_template .btn-loading {
  margin-left: -60px;
  height: 0px;
}
.myAccount .myAccount_box_template .btn-loading:hover {
  cursor: wait;
}